
.board {
  display: flex;
}

.row {
  
}

.square {
  min-height: 5rem;
  min-width: 5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.color-red {
  background-color: #ee1a24;
}

.color-black {
  background-color: #241f21;
}

.droppable {
  position: relative;
  border: yellow solid 0.4rem;
}

.droppable:hover {
  background: #d1d139;
}