
.board {
  display: flex;
}

.square {
  min-height: 5rem;
  min-width: 5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.piece {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pieceId {
  position: absolute;
  font-size: 1rem;
  top: 24px;
}

.color-red {
  background-color: #ee1a24;
}

.color-black {
  background-color: #241f21;
}

.droppable {
  position: relative;
  border: yellow solid 0.4rem;
}

.hovering {
  background: #d1d139;
}